* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $light-bg;
  color: #333;

  &.dark {
    background-color: $dark-bg;
    color: #ddd;
  }
}