$primary-color: 
 #5a67d8;
$secondary-color: #74879b;
$danger-color: #dc3545;
$warning-color: #ffc107;
$success-color: #38a169;
$light-bg: #ebf4ff;
$dark-bg: #2d2f30;

$tan-color:#51bd87c4;
$gradient-primary: linear-gradient(45deg, #42b983, #67829c);
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* تعريف $shadow */
$shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);
$font-family: 'Inter', sans-serif;




